body {
  background: rgb(169,186,126);
  background: radial-gradient(circle, rgba(169,186,126,1) 0%, rgba(120,133,89,1) 100%);
  padding: 0;
  margin: 0;
}

 #title {
     background-color: #262625;
     border-top:  1vw #a6ff47;
     padding-left: 25vw;
     padding-top: 3vw;
     padding-bottom: 3vw;
     color: white;
     -webkit-box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);
     -moz-box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);
     box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);
}

.blerb {
  text-align: center;
  margin-left: 12.5vw;
  font-size: 1.25vw;
  width: 75vw;
}

.header {
  font-size: 2vw;
  text-align: center;
}
.sub-header {
  font-size: 1.75vw;
  text-align: center;
}
.align_table {
  font-weight: normal;
  padding: 0;
  margin: auto;
  display: block;
}
.align_table > tr > th {
  font-weight: normal;  
}
