body {
  background: rgb(169,186,126);
  background: radial-gradient(circle, rgba(169,186,126,1) 0%, rgba(120,133,89,1) 100%);
  padding: 0;
  margin: 0;
}
.navbar {
     background-color: #262625;
     border-top:  1vw #a6ff47;
     color: white;
     -webkit-box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);
     -moz-box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);
     box-shadow: -12px 10px 28px -5px rgba(0,0,0,0.56);  
}
.navbar ul li {
  display: inline-block;
  padding-left: 1.5vw;
  margin: 0;
  border-right: solid rgba(120,133,89,1);
  padding-right: 1.5vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  border-left: solid rgba(120,133,89,1);  
}
.blerb {
  text-align: center;
  margin-left: 12.5vw;
  font-size: 1.25vw;
  width: 75vw;
}

.header {
  font-size: 2vw;
  text-align: center;
}
.sub-header {
  font-size: 1.75vw;
  text-align: center;
}
.align_table {
  font-weight: normal;
  padding: 0;
  margin: auto;
  display: block;
}
.align_table > tr > th {
  font-weight: normal;  
}
