body {
  background: rgb(169,186,126);
  background: radial-gradient(circle, rgba(169,186,126,1) 0%, rgba(120,133,89,1) 100%);
  padding: 0;
  margin: 0;
}
.navbar {
  width: 100vw;
  opacity: 0.98;
  position: fixed;
  background-color: #262625;
  color: white;
}
.content {
  padding-top: 10vw;  
}
.navbar ul button {
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0,0,0,0);
}
.navbar ul button li div {
  opacity:  0;
  width: 10vw;
  height:10vw;
  margin-top: 4vw;
  position:fixed;
  background-color: #262625;  
}
.navbar ul div {
  transition: 0.5s;
  transform: translate(0,-20px);
}
.navbar ul button:focus div {
  opacity: 1;
  transform: translate(0,0);
}
.navbar ul {
  margin: 0;
  padding-left: 0; 
}
.navbar ul li {
  list-style-type: none; 
  display: inline-block;
  padding-left: 1.5vw;
  margin: 0;
  border-right: solid rgba(120,133,89,1);
  padding-right: 1.5vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  transition: 0.5s;
}
.navbar ul:first-child {
  border-left: solid rgba(120,133,89,1);
}
.blerb {
  text-align: center;
  margin-left: 12.5vw;
  font-size: 1.25vw;
  width: 75vw;
}

.header {
  font-size: 2vw;
  text-align: center;
}
.sub-header {
  font-size: 1.75vw;
  text-align: center;
}
.align_table {
  font-weight: normal;
  padding: 0;
  margin: auto;
  display: block;
}
.align_table > tr > th {
  font-weight: normal;  
}
